
<!-- IDs should be unique among all views! (if they are not, they will all get the same styling and script-behaviour) -->


<link rel="stylesheet" href="../stylesheets/simulation.css"/>
<script src="../javascripts/simulation.js"></script>

<!--   Accordion     -->
<button class="accordion" >Example Algorithms</button>
<div class="panel">
    <button onclick="loadDeutsch()">Deutsch</button>
</div>

<div id="algo_div">
    <h2>Algorithm</h2>
    <p id="highlight" class="text"></p>
    <div id="drop_zone" ondrop="dropHandler(event)" ondragover="dragOverHandler(event)">
        <textarea id="q_algo" type="text" placeholder="Enter Algorithm or drop .qasm-File here."></textarea>
    </div>
    <p></p>
    <button type="button" id="load" class="btn btn-primary">Load</button>
    <button type="button" id="toStart" class="btn btn-primary">&#8606</button>
    <button type="button" id="prev" class="btn btn-primary">&#8592</button>
    <button type="button" id="next" class="btn btn-primary">&#8594</button>
    <button type="button" id="toEnd" class="btn btn-primary">&#8608</button>
</div>

<div id="qdd_div">
    <h1>Quantum Decision Diagram</h1>
    <div id="svg_div">
        <p>Here will be the Quantum Decision Diagram</p>
    </div>
</div>