
<!-- IDs should be unique among all views! (if they are not, they will all get the same styling and script-behaviour) -->


<link rel="stylesheet" href="../stylesheets/verification.css"/>
<script src="../javascripts/verification.js"></script>

<div id="ver_algo1_text">
    <h4>Algorithm 1</h4>
    <p id="ver_highlight1" class="text"></p>
    <div id="ver_drop_zone1" ondrop="dropHandler1(event)" ondragover="dragOverHandler(event)">
        <textarea id="ver_algo1" type="text" placeholder="Enter Algorithm or drop .qasm-File here."></textarea>
    </div>
<!--    <p></p>-->
<!--    <button type="button" id="ver_prev1" class="btn btn-primary">&#8592</button>-->
<!--    <button type="button" id="ver_next1" class="btn btn-primary">&#8594</button>-->
</div>

<div id="ver_algo1_qdd">
    <h2>QDD 1</h2>
    <div id="ver_svg1_div">
    </div>
</div>

<div id="ver_algo2_qdd">
    <h2>QDD 2</h2>
    <div id="ver_svg2_div">
    </div>
</div>

<div id="ver_algo2_text">
    <h4>Algorithm 2</h4>
    <p id="ver_highlight2" class="text"></p>
    <div id="ver_drop_zone2" ondrop="dropHandler2(event)" ondragover="dragOverHandler(event)">
        <textarea id="ver_algo2" type="text" placeholder="Enter Algorithm or drop .qasm-File here."></textarea>
    </div>
    <p></p>
</div>