
<!-- IDs should be unique among all views! (if they are not, they will all get the same styling and script-behaviour) -->


<link rel="stylesheet" href="../stylesheets/verification.css"/>
<script src="../javascripts/verification.js"></script>


<!-- A short description of this tab -->
<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed
    diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam
    et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
</p>

<div id="ver1_algo_div" class="algo-div">
    <h3>Algorithm 1</h3>
<!--    <p></p>-->
<!--    <button type="button" id="ver_prev1" class="btn btn-primary">&#8592</button>-->
<!--    <button type="button" id="ver_next1" class="btn btn-primary">&#8594</button>-->
</div>

<div id="ver_qdd_div" class="svg-div">
    <h3 id="ver_qdd_text">QDD</h3>
</div>


<div id="ver2_algo_div" class="algo-div">
    <h3>Algorithm 2</h3>
</div>