
.drop_zone {
    width: 100%;
    height: 80%;
    border: 2px solid #685972;
    display: block;
    margin: 0 0;
    transform: translateZ(0);
    -webkit-text-size-adjust: none;
}

.line_numbers, .backdrop, .q_algo {
    width: 100%;
    height: 100%;
}

.highlights, .q_algo, .line_numbers {
    padding-top: 0;
    letter-spacing: 1px;
}

.backdrop {
    z-index: 1;
}

.backdrop, .line_numbers {
    position: absolute;
    /*border: 2px solid #685972;*/
    background-color: transparent;
    overflow: auto;
    pointer-events: none;
    transition: transform 1s;
}

.line_numbers {
    z-index: 2;
    border: none;
    white-space: pre;
    text-align: left;
    padding-left: 10px;
}

.highlights {
    padding-left: 0;
    padding-right: 0;
    overflow-x: hidden;
    white-space: pre-wrap;
    word-wrap: break-word;
    text-align: left;
    color: transparent;
}

.q_algo {
    display: block;
    position: absolute;
    z-index: 3;
    margin: 0 0 0 20px;     /* set initial margin-left for the template algorithms */
    border: none;
    outline: none;
    border-radius: 0;
    color: #000;
    background-color: transparent;
    overflow: auto;
    resize: none;
    white-space: pre;
}

mark {
    color: transparent;
    background-color: #b1adad;
}