
/* Create two columns/boxes that floats next to each other */
#algo_div {
    float: left;
    width: 30%;
}

#qdd_div {
    float: right;   /* not sure if this is even needed*/
    width: 70%;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    #algo_div, #qdd_div {
        width: 100%;
        /*height: auto;*/
    }
}

#irreversibleDialog {
    display: none;
}

.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
    float: none;
    width: 100%;
    display: flex;
    justify-content: center;
}

.ui-button:focus {
    outline: none;
}

#prob0, #prob1 {
    display: inline-block;
    text-align: center;
    margin: 0 20px 0 20px;
}

#m0, #m1 {
    border-radius: 5px;
    margin: 5px 10px 5px 10px;
    text-align: center;
    display: inline-block;
    float: none;
}

.colorwheel {
    width: 300px;
}
