
/* Create two columns/boxes that floats next to each other */
#algo_div {
    float: left;
    width: 30%;
    height: 750px;
    padding: 0;
    margin-top: 5px;
    text-align: center;
}

#nav_div {
    padding: 10px;
    /*height: 15%;*/
}

.nav-button {
    width: 40px;
}

#qdd_div {
    float: right;
    padding: 0;
    margin-top: 5px;
    width: 70%;
    height: 750px;
    text-align: center;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    #algo_div, #qdd_div {
        width: 100%;
        /*height: auto;*/
    }
}

.example-algo {
    margin: 0 5px;
    width: 100px;
}

/* accordion from https://www.w3schools.com/howto/howto_js_accordion.asp */
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 10px;
    margin: 5px 0;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
    padding: 0 18px;
    margin-bottom: 15px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.checkbox {
    margin-left: 20px;
}

#irreversibleDialog {
    text-align: center;
    display: none;
}

.ui-dialog .ui-dialog-buttonpane {
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
}

#color_map {
    display: block;
    position: relative;
    background: #3498db;
    left: 10%;
    top: 10%;
    height: 5%;
    width: 5%;

    margin: 0;
    padding: 0;
}
