
/* ################################## base style ################################## */
* {
    box-sizing: border-box;
}

body * { /* the whitespace indicates that all children are affected - in this case all children of body */
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Trebuchet MS', sans-serif;
}

/* everything except SVG-texts have a set font-size */
:not(text) {
    font-size: 12px;
}



/* Style the header and the footer */
header, footer {
    background-color: white; /*rgb(140, 188, 243);*/
    padding: 30px;
    text-align: center;
    color: black;
}

header {
    margin-bottom: 5px;
}

footer {
    font-style: italic;
}

h1 {
    font-size: 25px;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 16px;
}

/* manually define font-size for all elements so the texts inside svg are not changed */
h4, p, span, textarea, button, div, input {
    /*font-size: 12px;*/
}

/* clear the space after the tab-content so no content can slip into the tab */
#simulation:after {
    content: "";
    display: table;
    clear: both;
}

#verification:after {
    content: "";
    display: table;
    clear: both;
}

#emulation:after {
    content: "";
    display: table;
    clear: both;
}

svg {
    border: 2px solid #685972;
}



/* ################################## specific element types ################################## */
/* tab related code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_tabs */
/* Style the tab */
.tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}
  
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}
  
/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
}
  
/* Create an active/current tablink class */
.tab button.active {
    background-color: #ccc;
}
  
/* Style the tab content */
.tabcontent {
    display: none;
    padding: 5px 10px 10px;
    /*border: 1px solid #ccc;*/
    border-top: none;
    animation: fadeEffect 0.7s; /* Fading effect takes 0.7 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* loading related code adapted from https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_loader5 */
/* Center the loader */
#loader {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 }
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom {
    from{ bottom:-100px; opacity:0 }
    to{ bottom:0; opacity:1 }
}
