
/* Create four columns/boxes that float next to each other */
#ver1_algo_div, #ver2_algo_div {
    width: 27.5%;
}

#ver1_algo_div {
    float: left;
}
#ver2_algo_div {
    float: right;
}

#ver_qdd_div {
    float: left;
    width: 45%;
}

/* Responsive layout - makes the four columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
    #ver1_algo_div, #ver_qdd_div, #ver2_algo_div {
        width: 100%;
        height: auto;
    }
}
